*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;;
}

 li,a
{
    text-decoration: none;
    list-style:none;
}
.login{
    gap: 10px;
    margin-right: 20px;
    background-color:rgba(140, 175, 199, 0.8) !important;
    border-radius: 10px;
    padding: 10px 15px 10px 15px !important;
}

a.login:hover,
a.login:active{
    background-color: #0091ff!important;
    color: white !important;
}
.home{
    margin-left: 20px;
}
a.home:hover,
a.home:active{
    color: #0091ff !important;
}

header{
    width: 100%; 
}

.img-fundo{
    background-image: url(css/paisagem5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    height: 110px;
    background-color: rgba(140, 175, 199, 0.4);
}
.section-lugar{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.texto-lugar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 30%;
    background-color: rgba(140, 175, 199, 0.8);
    padding: 0px 30px 0px 30px;
}
.img-lugar{
    border-radius: 50px;
}
.promo{
    align-items: center;
    justify-content: center;
    background-color: #8cafc7;
    height: 200px;
}

.b-promo{
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
}
a.b-promo:link,
a.b-promo:visited{
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.418); 
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.418) ;
  }
  a.b-promo:hover,
  a.b-promo:hover {
    border: solid 1px #0091ff;
    background-color:#0091ff;
    border-radius: 20px;
    color: white;
  }
footer{
    background-color:#8cafc7;
    height:120px;
}
.feito{
    margin:auto;
}
.carrosel{
    
    width : 50% ;
    height: 90% ;
}
.log{
    margin-left: 200px;
}

@media (max-width: 700px){
  
    .section-lugar{
        flex-direction: column;
    }
    .carrosel,.texto-lugar{
        margin-left: 40px;
        margin-top: 15px;
        height: 60% ;
        width: 80% ;
    }
    .texto{
        margin-top: 200px;
    }
    .navbar-collapse{
        background-color: #8cafc7;
        border-radius: 10px;
        position: absolute;
        top: 10px;
        left: 50px;
        text-align: center;
        font-size: 18px;
    }
    .nav-item:not(:last-child) {
        border-bottom: 1px solid gray;
        border-radius: 5px;
        padding: 0.2em 4em;
      }
      .log{
        margin-left: 0px;
    }
    .login{
        background-color: #8cafc7;
        padding-left: 50px !important;
    }
    a.login:hover,
    a.login:active{
        background-color: #8cafc7 !important;
        color: #0091ff !important;
}
    @media (max-width: 380px){
        .navbar-collapse{
            background-color: #8cafc7;
            border-radius: 10px;
            position: absolute;
            top: 10px;
            left: 0px;
            text-align: center;
            font-size: 18px;
        } 
    }
}


/* CSS PROMOCOES */

.section{
    margin: 0px 5px 0px 5px;
    width: 99%;
}
.section-interna{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.conteudo{
    width: 95%;
    height: 50%;
    justify-content: space-around;
    background-color: rgba(140, 175, 199, 0.6);
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
.img-conteudo{
    width: 210px;
    padding-top: 10px;
}
.col1{
    height: 100%;
  
}
.col2{
    padding-top: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    

}
.col3{
    padding-top: 30px;
    height: 100%;
    display: flex;
    align-items: center;
   

}

.botao-tour{
    color: white;
    background-color:rgb(12, 96, 165) ;
    padding: 5px;
    border-radius: 10px;
}
a.botao-tour:hover{
    color: white;
    background-color:#0091ff ;
    padding: 5px;
    border-radius: 10px;
}
.img-tour{
    border-radius: 40px;
}

@media (max-width: 700px){
    .conteudo{
        display: flex;
        flex-direction: column;
    }
    .col2,.col3{
        margin-top: 10px;
        margin-right: 90px;
    }

}


/* CSS DESTINOS */
.div-img{
    width:58%;
    margin-top: 10px;
}
.texto-direita{
    padding-top: 20px;
    padding-bottom: 40px;
}
.div-texto-direita{
    width:39% ;
    margin-top: 10px;
}
.img-peq{
    width:"150px";
    height:"150px";
    border-radius: 20px;
}
.img-gra{
    border-radius: 20px;
    width: 100%;
}
.calendario{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.botao-destino{
    border-radius: 20px;
    text-decoration: none;
    color: black;
    background-color: rgba(140, 175, 199, 0.8);
    text-align: center;
    padding: 5px;
}
a.botao-destino:hover{
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: #0091ff;
    padding: 5px;
}
@media (max-width: 700px){
    .div-texto-direita,
    .esquerda{
        width: 90%;
    }
    .div-img{
        width: 90%;
    }
    .img-gra{
        border-radius: 20px;
        width: 100%;
    }
    .img-peq{
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }
    .calendario{
        margin-left: 100px;
        margin-bottom: 10px;
    }
    
}


/* CSS CONTATO */


.contato{
    width: 100%;
    height: 600px;
}
.div-contato{
    width: 100%;
    height: 100%;
}
.fundo-contato{
    width: 100%;
    height: 100%;
    background-color: #8cafc7;
}
.info-contato{
    width: 40%;
    height: 95%;
    flex-direction: column;
    gap: 70px;
    color: white;
    background: #0091ff;
    margin: 15px;
    border-radius: 20px;
    padding: 50px 0px 0px 20px;
}
.form-contato{
    width: 55%;
    height: 95%;
    background-color: white;
    margin: 15px;
    border-radius: 20px;
    padding: 50px 0px 0px 20px;
}
@media (max-width: 700px){
    .fundo-contato,
    .contato{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .info-contato,
    .form-contato{
        width: 90%;
        padding-bottom: 30px;
    
    }

}

/* CSS LOGIN */
.section-login{
    padding: 10px;
}
.div-login{
    width: 50%;
    padding: 10px;
}

.texto-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.img-login{
    width: 50%;
}
.img-login-paisagem{
    width: 100%;
    height: 100%;
}
.login-form{
    width: 60%;
    justify-content: center;
}
.div-conta{
    gap: 40px;
}
.a-conta{
    background-color: white;
    border-radius: 20px;
    border:2px solid #0091ff;
    color: black;
}
.a-conta:hover{
    background-color: #0091ff49;
    border: 2px solid rgb(255, 255, 255) ;
}
@media (max-width: 700px){
    .section-login{
        flex-direction: column;
    }
    .img-login{
        width: 100%;
    }
    .texto-login{
        width: 100%;
        height: 100%;
        margin-top: 50px;
        justify-content: center;
    }
    .div-login{
        width: 100%;
    }
    .div-conta{
        flex-direction: column;
    }

}
